<p>
  <strong>Team Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>
<h1>Listing Players</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Gender</th>
  </tr>

  <% @team.players.each do |player| %>
      <tr>
        <td><%= link_to(player.name, player_path(player)) %></td>
        <td><%= player.gender_text %></td>
      </tr>
  <% end %>
</table>