<div class="outerpadleftright">
    <h1>Schedule:</h1>

    <table class="table table-bordered table-hover">
      <tr>
        <th>Start Time:</th>
        <th>End Time:</th>
        <th>Delete</th>
      </tr>

      <% @schedules.each do |schedule| %>
          <tr>
            <td><%= link_to(schedule.start_time.to_s(:pretty), games_schedule_week_path(params: {schedule_id: schedule.id})) %></td>
            <td><%= schedule.end_time.to_s(:pretty) %></td>
            <td><%= button_to('x', schedule, method: :delete) %></td>
          </tr>
      <% end %>
    </table>

  <div class="btn btn-no-padding add-day">
    <%= link_to("Add Day", new_schedule_path) %>
  </div>

</div>