<div class="score-header">
    <p>
      <strong>Week:</strong>
      <%= @game.week %>
    </p>
    <p>
      <strong>Time slot:</strong>
      <%= @game.time_slot %>
    </p>
    <div class="btn">
        <%= link_to "Done scorekeeping", @game %>
    </div>
</div>
<div class="playing-teams">
    <% @game.teams.each do |team| %>
        <%= render partial: 'game_stats/scorekeep_table', locals: {team: team, game: @game} %>
    <% end %>
</div>