<h1>Listing Players</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Team</th>
  </tr>

  <% @players.each do |player| %>
      <tr>
        <td><%= link_to(player.name, player_path(player)) %></td>
        <td><%= player.gender %></td>
        <td>
          <%= link_to(player.teams.first.name, team_path(player.teams.first)) unless player.teams.blank? %>
          <%= "Unassigned" if player.teams.blank? %>
        </td>
      </tr>
  <% end %>
</table>