<div class="outerpadleftright">
    <p>
      <strong>Name:</strong>
      <%= @player.name %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @player.gender_text %>
    </p>
    <p>
      <strong>Team:</strong>
      <%= @player.team.blank? ? "No team assigned" : link_to(@player.team.name, team_path(@player.team)) %>
    </p>
    <h3>Stats</h3>
    <table class="table table-bordered table-hover">
      <tr>
        <th>Game</th>
        <th>Points</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Ds</th>
        <th>Turns</th>
      </tr>
      <%= render partial: 'game_stats/simple_row', collection: @player.game_stats %>
    </table>
</div>