<div class="outerpadleftright">
  <div class="header">
      <h2 class="thin">
        <%= @player.name %>
      </h2>
      <h3 class="thin">
        (<%= @player.gender_text %>) - <%= @player.team.blank? ? "No team assigned" : link_to(@player.team.name, team_path(@player.team)) %>
      </h3>
  </div>

    <h3 class="thin">Stats:</h3>
    <table class="table table-bordered table-hover table-nonfluid">
      <thead>
      <tr>
        <th>Week</th>
        <th class="game">Game</th>
        <th>Points</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Ds</th>
        <th>Turns</th>
        <th>Swag</th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'game_stats/simple_row', collection: @player.game_stats %>
      </tbody>
    </table>
</div>

<script>
    $(document).ready(function()
        {
            $("table").tablesorter();
        }
    );
</script>