@import "bootstrap";

@font-face {
  font-family: "myMuseo Sans 500";
  src: url(/assets/MuseoSans_500-webfont.ttf) format("truetype");
}

$black: #000000;
$background-gray: #f1f1f1;
$white: #FFF;
$blue: #86BCF2;
$darkened-blue: #6DA3D9;
$gray: #777;

div.Orange {
  background-color: #FFD268;
}
div.Black {
  background-color: #000000;
  color: #FFF;
}
div.Green {
  background-color: #A0FFAC;
}
div.Blue {
  background-color: #86BCF2;
}
div.Yellow {
  background-color: #FFFFBA;
}
div.Pink {
  background-color: #F5B3F5;
}
div.Red {
  background-color: #990000;
  color: white;
}
div.White {
  background-color: #FFF;
}

h2 {
  font-weight: 300;
}
h3.thin {
  font-weight: 300;
}

.left {
  float: left;
}
.right {
  float: right;
}

.black {
  color: black;
}

.margin_15 {
  margin: 15px;
}

input[type=submit] {
  margin-top: 0;
  &:hover {
    background-color: #ff6347;
    border-width: 0 2px;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.inline-block {
  display: inline-block;
}

.indent {
  margin-left: 20px;
}

.navbar {
  background-color: $white;
  min-height: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 300;
}

.navbar .navbar-nav > li > a {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: $white;
}

.navbar .navbar-nav .dropdown-menu > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 18px;
  color: #777;
}

.navbar .navbar-nav .dropdown-menu > li > a:hover {
  color: $blue;
}

//this is for hovered over bars
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $blue;
  border-bottom-color: $blue;
}

// this is for the current tab
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,  {
  background-color: $white;
  border-bottom-color: $blue;
}

// this is for dropdowns
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $white;
  border-bottom-color: $blue;
  color: $blue;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-centered {
  text-align: center;
}

.btn-no-padding {
  padding: 0;
  a {
    line-height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
  }
}

.btn {
  border-radius: 4px;
  border: none;
  background-color: $blue;
  height: 40px;
  font-size: 20px;
  color: white;
  &:active, &:focus {
    background-color: #D2DBE5;
    color: #474747;
    > a {
      color: #474747;
    }
  }
  a {
    color: $white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
  }
  &:hover {
    background-color: $darkened-blue;
    color: #FFF;
  }
}

.btn-gray {
  background-color: #D2DBE5;
  color: #474747;
  a {
    color: #474747;
  }
  &:hover {
    color: #000000;
    background-color: #B4C3D3;
    a {
      color: #000000;
    }
  }
}


body {
  background-color: $background-gray;
}

.table-nonfluid {
  width: auto !important;
}

.outerpadleftright {
  padding-left: 75px;
  padding-right: 75px;
}

form {
  background-color: white;
  padding:30px;
  padding-top: 10px;
}

.login {
  margin-top: 40px;
  background-color: $white;
  border-radius: 7px;
  width: 350px;
  border-color: $gray;
  border-width: 1px;
  border-style: solid;
  h2.title {
    text-align: center;
    border-bottom-color: $gray;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 20px;
  }
  input, a {
    display: block;
  }
  input[type=email], input[type=password], input[type=text] {
    margin-bottom: 10px;
    border-radius: 4px;
    width: 250px;
    border-width: 1px;
    border-color: $gray;
    border-style: solid;
    height: 37px;
    padding: 10px;
  }
  .actions {
    padding-top: 15px;
  }
  input[type=submit].blue {
    width: 250px;
    color: $white;
    background-color: $blue;
    height: 43px;
    font-size: 20px;
    font-weight: 500;
    a {
      line-height: 43px;
    }
    &:hover {
      background-color: $darkened-blue;
    }
  }
  form {
    padding-top: 30px;
  }
  .forgot {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
  }

  .btn-container {
    border-top-color: $gray;
    border-top-width: thin;
    border-top-style: solid;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .btn-gray {
    height: 43px;
    width: 250px;
    a {
      line-height: 43px;
    }
  }
  &.edit {
    width: 400px;
    form.edit_user {
      border-bottom-color: $gray;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
    input, input.blue, .btn-gray {
      width: 300px;
    }
    .button_to {
      padding-bottom: 30px;
      border-radius: 7px;
    }
  }
}

table {
  background-color: white;
}


.table-bordered > thead > tr > th {
  &.tablesorter-headerDesc, &.tablesorter-headerAsc {
    border-color: #FF8C00;
    border-width: 4px;
    &:focus, &:active {outline:0;}
  }
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  &:hover {
    cursor: move;
  }
}

body.sessions.new {
  .field {
    margin-left: 19px;
    > input {
      display: inline-block;
    }
  }
}