// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  form {
    height: 25px;
    overflow: hidden;
    background: none;
    padding: 0;
    display: inline;
  }
  p {
    display: inline;
  }
}

body {
  padding-right: 20px;
  padding-left: 20px;
}

.playing-teams {
  div {
    float:right;
  }
  div:first-child {
    float:left;
  }
  .stats-table {
    width: 49%;
    table {
      td, th {
        vertical-align: middle;
        text-align: center;
      }
      .points {
        width: 20px;
      }
      td {
        //font-size: 20px;
      }
    }
    display: inline;
  }
}

