// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #777;
$background-gray: #f1f1f1;
$black: #000000;
$blue: #86BCF2;


table {
  form {
    height: 25px;
    overflow: hidden;
    background: none;
    padding: 0;
    display: inline;
  }
  p {
    display: inline;
  }
}

.inline-block {
  display: inline-block;
}

.body {
  padding-right: 20px;
  padding-left: 20px;
}

.playing-teams {
  text-align: center;
  div {
    float:right;
  }
  div:first-child {
    float:left;
  }
  .stats-table {
    width: 49.5%;
    table {
      table-layout: fixed;
      .name {
        width: 100px;
      }
      .points {
        width: 50px;
      }
      th.points {
        padding: 0;
      }
      .points > td {
        font-size: 30px;
      }
      td, th {
        font-size: 14px;
        vertical-align: middle;
        text-align: center;
      }
      th {
        font-weight: 500;
      }
      td {
        a {
          color: #000000;
        }
      }
    }
    display: inline;
  }
}

.score-header {
  padding-left: 50px;
  p, div {
    padding-right: 20px;
    display: inline-block;
  }
}

.show-game {
  table{
    margin-left: auto;
    margin-right: auto;
  }
}

.table > tbody > tr > td.editval {
  padding: 0;
}

td.editval {
  position: relative;
  form input[type=submit] {
    margin: 0;
  }
  .plus, .minus {
    width: 30px;
    background-color: #EDF5FD;
    border: none;
    color: gray;
    &:hover {
      background-color: #C2DDF8;
    }
  }
  .plus {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;
  }
  .minus {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 10px;
  }
}

.games-table {
  .views {
    background-color: $background-gray;
    width: 100%;
    margin-bottom: 15px;
    h3 {
      margin-top: 10px;
      padding-left: 5px;
    }
    div {
      padding-left: 15px;
      padding-right: 15px;
    }
    a {
      font-size: 20px;
      font-weight: 200;
      &.active {
        color: $black;
        font-weight: 400;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  table {
    a:hover {
      font-weight: 500;
    }
    background: none;
    border: none;
    border-collapse: separate;
    tr {
      &.empty {
        height: 15px;
      }
    }
    td, th {
      border-spacing: 0 20px;
      background-color: #FFF;
      text-align: center;
      vertical-align: middle;
    }
    td.first {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    td.last {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .matchup {
      padding-left: 20px;
      width: 280px;
      text-align: left;
    }
    .scorekeep {
      width: 90px;
    }
    .view {
      width: 60px;
    }
    .week {
      width: 80px;
    }
    .day {
      width: 100px;
    }
    .time {
      width: 60px;
    }
  }
}
