.schedules {
  form {
    label, select, span {
      vertical-align: middle;
    }
    div {
      padding-bottom: 20px;
    }

    input[type=submit] {
      margin-top: 10px;
    }
  }
}

body.schedules.index {
  .btn.add-day {
    width: 400px;
    height: 40px;
    display: table;
    margin-left: 20px;
    a {
      display: block;
    }
  }
  td {
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
  }
  form {
    text-align: center;
    padding: 0;
    background: none;
  }
}