$blue: #86BCF2;

body.users.index {
  .table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    > form input[type=submit] {
      margin: 0;
    }
  }
  .admin, .commissioner {
    > p {
      display: inline-block;
      margin: 0;
    }
    input[type=submit] {
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      color: $blue;
    }
  }
}